body {
    background-color: tan;
    color: black;
}

#keskmine-pealkiri,
#kitsas-pealkiri {
    display: none;
}

div.piltide-konteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 0;
}

div.piltide-konteiner>img {
    width: 30%;
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
        color: white;
    }

    #lai-pealkiri,
    #kitsas-pealkiri {
        display: none;
    }

    #keskmine-pealkiri {
        display: initial;
    }

    div.piltide-konteiner>img {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: white;
    }

    #lai-pealkiri,
    #keskmine-pealkiri {
        display: none;
    }

    #kitsas-pealkiri {
        display: initial;
    }

    div.piltide-konteiner>img {
        width: 100%;
    }
}